<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <th:block th:include="layout/header"></th:block>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <form  action="#" th:action="@{/}" method="post">
                  <fieldset>
                        <div class="form-group">
                            <input class="form-control" type="text" th:name="salaId" placeholder="salaId"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning">Przejdz</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Budynek</th>
                    <th>Numer</th>
                    <th>Opis</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sala : ${salaList}">
                    <td th:text="${sala.salaId}">1</td>
                    <td th:text="${sala.budynek}">A</td>
                    <td th:text="${sala.numer}">63</td>
                    <td th:text="${sala.opis}">63</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>